{% extends "base.html" %}
{% block content %}

<h2 class="container mt-4">
    <span class="badge bg-secondary">Course List</span>
</h2>
<h3 class="container mt-1">
    <span class="badge bg-secondary">current competition courses</span>
</h3>

<!-- code to display list of courses-->
<div class="container mt-3">
    <table class="table table-striped">
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Name</th>
            <th scope="col">Map diagram</th>
        </tr>
        {% for course in course_list %}
        
            <tr>
                <td>{{ course[0] }} </td>
                <td>{{ course[1] }}</td>
                <td><img src="{{ url_for('static', filename=course[2]) }}" alt="course[2]" class="rounded float-end" >  </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}