{% extends "base.html" %}
{% block content %}

<h2>Course List</h2>
<h3>current competition courses</h3>

<!-- code to display list of courses-->
<div class="container">
    <table class="table table-striped">
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Name</th>
            <th scope="col">Map diagram</th>
        </tr>
        {% for course in course_list %}
        
            <tr>
                <td>{{ course[0] }} </td>
                <td>{{ course[1] }}</td>
                <td><img src="{{ url_for('static', filename=course[2]) }}" alt="course[2]" class="img-fluid" width="150" height="100">  </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}