{% extends "base.html" %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->


<h2 class="container mt-4">
    <span class="badge bg-secondary"> Driver List</span>
</h2>

<div class="container mt-3">
   <table class="table table-striped">
        <tr>
            <th scope="col">Driver</th>
            <th scope="col">Driver Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Age</th>
            <th scope="col">Caregiver</th>
            <th scope="col">Car Model</th>
            <th scope="col">Driver Class</th>
        </tr>
        {% for driver in driver_list %}
        
            <tr>
                <td>{{ driver[0] }} </td>
                {% if  driver[4]|int >= 12 and driver[4]|int <= 25 and driver[4]|int != 0 %}
                    <td ><a class="link-warning" href="{{ url_for('listruns',driverid = driver[0]) }}">{{ driver[2] }} {{ driver[1] }}</a></td>
                {% else %}
                    <td ><a href="{{ url_for('listruns',driverid = driver[0]) }}">{{ driver[2] }} {{ driver[1] }}</a></td>
                {% endif %}
                <td>{{ driver[3] }}</td>
                <td>{{ driver[4] }}</td>
                <td>{{ driver[5] }}</td>
                <td>{{ driver[8] }}</td>
                <td>{{ driver[9] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}