{% extends "base.html" %}
{% block content %}

<h2 class="container mt-4">
    <span class="badge bg-secondary"> Overall result</span>
</h2>

<div class="container mt-3">
    <table class="table table-striped">
        <tr>
            <th scope="col">Driver</th>
            <th scope="col">Driver Name</th>
            <th scope="col">Car Model</th>
            <th scope="col">Course A</th>
            <th scope="col">Course B</th>
            <th scope="col">Course C</th>
            <th scope="col">Course D</th>
            <th scope="col">Course E</th>
            <th scope="col">Course F</th>
            <th scope="col">Overall Result</th>
        </tr>

        {% for i in range (display_result|length) %} 
        <tr>
            {% if i == 0 %}
                <td scope="col">{{ display_result[i][0] }} </td>
            {% elif i > 0 and i <= 4 %}
                <td scope="col">{{ display_result[i][0] }} </td>
            {% else %}
                <td scope="col">{{ display_result[i][0] }}  </td>
            {% endif %}
            <td scope="col">{{ display_result[i][2] }}</td>
            <td scope="col">{{ display_result[i][3] }}</td>
            <td scope="col">{{ display_result[i][4] }}</td>
            <td scope="col">{{ display_result[i][5] }}</td>
            <td scope="col">{{ display_result[i][6] }}</td>
            <td scope="col">{{ display_result[i][7] }}</td>
            <td scope="col">{{ display_result[i][8] }}</td>
            <td scope="col">{{ display_result[i][9] }}</td>
          
            {% if i == 0 %}
            <td scope="col">{{  display_result[i][1] }} 🏆 </td>
            {% elif i > 0 and i <= 4 %}
                <td scope="col">{{ display_result[i][1] }} 🎁 </td>
            {% else %}
                <td scope="col">{{ display_result[i][1] }}  </td>
            {% endif %}
        </tr>
        {% endfor%}
    </table>
</div>

{% endblock %}