{% extends "base.html" %}
{% block content %}

<h2 class="container mt-4">
    <span class="badge bg-secondary"> Run List</span>
</h2>

<div class="container mt-3">
    <div class="row">
        <div class=" col dropdown">
            <button id="options" class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="selected">Choose option</span><span class="caret"></span></a>
            </button>
            <ul class="dropdown-menu">
                {% for driverName in driver_name_list %}
                    <li><a class="dropdown-item" href="{{ url_for('listruns',driverid = driverName[0]) }}" id="driver-name-value" value="{{driverName[0]}}">{{ driverName[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if run_list|length != 0 %}
    <div class="row mt-3">
        <div class="col-auto"> <h5> Dirver Id:</h5>  </div>
        <div class="col-auto">  <p class="d-inline">{{run_list[0][0]}}</p>  </div>
    </div>
    <div class="row">
        <div class="col-auto"> <h5> Dirver Name:</h5>  </div>
        <div class="col-auto">  <p class="d-inline">{{run_list[0][1]}}</p>  </div>
    </div>
    <div class="row">
        <div class="col-auto"> <h5> Car Model:</h5>  </div>
        <div class="col-auto">  <p class="d-inline">{{run_list[0][2]}}</p>  </div>
    </div>
    <div class="row">
        <div class="col-auto"> <h5> Driver Class:</h5>  </div>
        <div class="col-auto">  <p class="d-inline">{{run_list[0][3]}}</p>  </div>
    </div>
    
    
    <table class="table table-striped mt-3" id="runsTable" >
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Run Num</th>
            <th scope="col">Seconds</th>
            <th scope="col">Cones</th>
            <th scope="col">WD</th>
            <th scope="col">Run Total</th>
        </tr>
        {% for run in run_list %}
            <tr>
               
                <td>{{run[4]}}</td>
                <td>{{run[5]}}</td>
                <td>{{run[6]}}</td>
                <td>{{run[7]}}</td>
                {% if run[8] != 0 %}
                    <td>WD</td>
                {% else %}
                    <td>{{run[8]}}</td>
                {% endif %}
                
                <td>{{run[0]}}</td>
               
                
            </tr>
        {% endfor %}
    </table>  
    {% endif %}
         
</div>




{% endblock %}