{% extends "base.html" %}
{% block content %}

<h2>Run List</h2>



<div class="container">
    <div class="row">
        <div class=" col dropdown">
            <button id="options" class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="selected">Choose option</span><span class="caret"></span></a>
            </button>
            <ul class="dropdown-menu">
                {% for driverName in driver_name_list %}
                    <li><a class="dropdown-item" href="{{ url_for('listruns',driverid = driverName[0]) }}" id="driver-name-value" value="{{driverName[0]}}">{{ driverName[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>

        
    </div>

    <table class="table table-striped mt-3" id="runsTable" >
        <tr>
            <th scope="col">Dirver Id</th>
            <th scope="col">Dirver Name</th>
            <th scope="col">Car Model</th>
            <th scope="col">Driver Class</th>
            <th scope="col">Course</th>
            <th scope="col">Run Num</th>
            <th scope="col">Seconds</th>
            <th scope="col">Cones</th>
            <th scope="col">WD</th>
            <th scope="col">Run Total</th>
        </tr>
        {% for run in run_list %}
            <tr>
                {% for field in run %}
                    <td>{{field}}</td>
                {% endfor %}
                
            </tr>
        {% endfor %}
    </table> 
        
    
</div>




{% endblock %}