{% extends "admin.html" %}
{% block content %}

<h2 class="container mt-4">
    <span class="badge bg-secondary">Search Driver</span>
</h2>

<div class="container mt-3">
    <form class="d-flex" role="search" method="POST" action="/search">
        <input class="form-control me-2" name="search_query" type="search" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <table class="table table-striped mt-4">
        <tr>
            <th scope="col">Driver</th>
            <th scope="col">Driver Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Age</th>
            <th scope="col">Caregiver</th>
            <th scope="col">Car</th>
        </tr>
        {% for driver in result_driver %}
            <tr>
                {% for field in driver %}
                    <td>{{field}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
