{% extends "message.html" %}
{% block content %}

<h2 class="container mt-4">
    <span class="badge bg-secondary">Success Message</span>
</h2>

<div class="container mt-3">
    <div class="alert alert-primary" role="alert">
        <p>{{ message }}</p>
   </div>
   <table class="table table-striped mt-3" id="runsTable" >
    <tr>
        <th scope="col">Dirver Id</th>
        <th scope="col">Dirver Name</th>
        <th scope="col">Course</th>
        <th scope="col">Run Num</th>
        <th scope="col">Seconds</th>
        <th scope="col">Cones</th>
        <th scope="col">WD</th>
    </tr>
    {% for run in update_data %}
        <tr>
            {% for field in run %}
                <td>{{field}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table> 
</div>
{% endblock %}