
    {% extends "base.html" %}
    {% block content %}
    <!-- access Plotly content delivery network (CDN) charting library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   
    <h2 class="container mt-4">
    <span class="badge bg-secondary">Top 5 Driver Result Graph</span>
    </h2>

    <div class="container mt-3">
       <div id="myHBarPlot" style="width:100%; max-width:800px; margin-left:200px;"></div>
    </div>
   
    <script>
        // Note SPACE after each fruit name so gap before horizontal bars
      
        // REPLACE constants above with passed in variables.
        // Use the '|safe' Jinja filter to mark them as safe (prevents your data being html-escaped). eg,
        // var myList = {{ list_from_py | safe }}

        const nameList = {{ name_list| safe }}
        const valueList = {{ value_list| safe }}

        // Define graph data
        const data = [{ x: valueList,  y: nameList,  type:"bar", orientation:"h", marker: {color:"#1E90FF"} }];

        // Define graph layout. Excluded a y-axis title as fruit names are self-explanatory.
        const layout = {  
            xaxis: {range: [240, 290], title: "overall result"}, 
            yaxis :{automargin: true, title: "driver name"},
            title: "Top 5 Driver"
        };

        // Display using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);

    </script>


{% endblock %}
